<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org/">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/reset.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/anjos.css}"/>
    <title>Adota Pet</title>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/"><img th:src="@{/img/Logo.png}" class="logo"></a>
            <nav>
                <ul th:if = "${NULL != usuarioLogado}" >
                    <li><a href="/pet/pets">Adote aqui</a></li>
                    <li><a href="/usuario/meuperfil">Meu Perfil</a></li>
                    <li><a href="/logout">sair</a></li>
                </ul>
            </nav>
        </header>
        <section class="adm-pet container-table">
            <div class="table-cell table" >
                <h2>Lista de Pets</h2>
                <table >
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th colspan="2">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each = "pet : ${usuario.pets}">
                            <td>
                                <a th:text = "${pet.nome}" th:href = @{/pet/perfil/{id}(id=${pet.id})}></a>
                            </td>
                            <td class="td-ações td-editar" >
                                <a th:href = @{/pet/editar/{id}(id=${pet.id})}>Editar</a>
                            </td>
                            <td class="td-ações td-excluir">
                                <a th:href = @{/pet/excluir/{id}(id=${pet.id})}>Excluir</a>
                            </td>
                        <tr>
                    </tbody>
                </table>
                <a class="button" href="/usuario/meuperfil">Voltar</a>
                <a class="button" href="/pet/cadastro">Adicionar Pet</a>
            </div>
        </section>

        <div class="push"></div>
    </div>
    <footer class="footer container-table">
        <div class="table-cell">
            <img th:src="@{/img/instagram.svg}" class="logo">
            <img th:src="@{/img/facebook.svg}" class="logo">
            <span>Desenvolvido por: JGAGJ, OS FERAS DO TI</span>
        </div>
    </footer>
</body>

</html>