<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

    <body>
        <div>
            <form action="/usuario/login" method="POST">
                <div>
                    <div>
                        <label>E-mail</label>
                        <input type="email">
                    </div>
                </div>
                <div>
                    <div>
                        <label>Senha</label>
                        <input type="password">
                    </div>
                </div>
                <div>
                    <button type="submit">enviar</button>
                </div>
                <div>
                    <p><a href="/usuario/registration">nao possui conta</a></p>
                </div>

            </form>
        </div>
    </body>

</html>