<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org/">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/stylesheets/anjos.css">
    <title>Adota Pet</title>
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script src="assets/js/scroll.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <img src="img/Logo.png" class="logo">
            <nav>
                <ul>
                    <li><a href="#">Adote aqui</a></li>
                    <li><a href="/usuario/login">Login</a></li>
                    <li><a href="/usuario/registration">Cadastro</a></li>
                </ul>
            </nav>
        </header>
        <section class="profile container-table">
            <div class="table-cell">
                <h2>Perfil</h2>
                <div class="circulo"></div>
                <div class="rede-social">
                    <img src="img/instagram-pink.svg" class="logo">
                    <img src="img/facebook-pink.svg" class="logo">
                </div>
                <div class="info-profile">
                    <h3>Nome Completo: <span th:text="${usuario.nome}"></span> </h3>
                    <h3>E-email: <span th:text="${'Data de nascimento: ' + #dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"></span> </h3>
                    <h3>Data de Nascimento: <span th:text="${'Data de nascimento: ' + #dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"></span> </h3>
                    <h3>Gênero: <span th:text="${usuario.genero}"></span></h3>
                    <h3>Telefone: <span th:text="${usuario.numTel}"></span> </h3>
                    <h3>CPF: <span th:text="${usuario.cpf}"></span> </h3>
                    <h3>Local: <span th:text="${usuario.uf.descricao}"></span> </h3>
                    <h3>Link do Instagram: <span th:text="${usuario.linkInstagram}"></span> </h3>
                    <h3>Link do Facebook: <span th:text="${usuario.linkFacebook}"></span> </h3>
                    <h3 th:if = "${usuario.tipo == 'ong'}">Link da Doação: <span th:text="${usuario.cpf}"></span> </h3>                    
                    <h3>Descrição: </h3>
                    <p th:text="${usuario.descricao}"></p>
                    <h3>Doação: <a th:href="${usuario.linkDoacao}">Link para doação</a> </h3>
                    <p th:if = "${usuario.id == usuarioLogado.id}">
                        <a th:href = @{/usuario/editar/{id}(id=${usuario.id})}>Editar</a>
                        <a th:href = @{/usuario/excluir/{id}(id=${usuario.id})}>Excluir</a>
                    </p>
                </div>
                <div class="animais-doacao" th:each = "pet : ${usuario.pets}">
                    <div class="animal-doacao">
                        <img src="img/image5.png" class="logo"><br>
                        <p th:text = "${pet.nome}"></p>
                        <a th:href = @{/pet/perfil/{id}(id=${pet.id})}>mostrar</a>
                        <p th:if = "${pet.dono.id == usuarioLogado.id}">
                            <a th:href = @{/pet/editar/{id}(id=${pet.id})}>editar</a>
                            <a th:href = @{/pet/excluir/{id}(id=${pet.id})}>excluir</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="push"></div>
    </div>

    <footer class="footer container-table">
        <div class="table-cell">
            <img src="img/instagram.svg" class="logo">
            <img src="img/facebook.svg" class="logo">
            <span>Desenvolvido por: </span>
        </div>
    </footer>
</body>

</html>