<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/reset.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/anjos.css}"/>
    <title>Adota Pet</title>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/"><img th:src="@{/img/Logo.png}" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/pet/pets">Adote aqui</a></li>
                    <li><a href="/usuario/meuperfil">Meu Perfil</a></li>
                    <li><a href="/logout">sair</a></li>
                </ul>
            </nav>
        </header>
        <section class="cadastro container-table">
            <div class="table-cell">
                <h2>Edição</h2>
                <form action="/usuario/editar" method="POST" th:object="${usuario}">
                    <input type="hidden"  th:field="*{id}">
                    <div class="esq">
                        <h3>E-mail</h3>
                        <input type="email" name="E-mail" placeholder="seu e-mail"  th:field="*{email}">
                        
                        <h3>Senha</h3>
                        <input type="password" name="Senha" placeholder="sua senha" th:field="*{password}">
                        <h3>Confirmar Senha</h3>
                        <input type="password" name="Confirmar Senha" placeholder="sua senha">
                        <h3>CPF</h3>
                        <input type="text" name="CPF" placeholder="___-___-___-__" th:field="*{cpf}">
                        <h3>Nome</h3>
                        <input type="text" name="CPF" placeholder="Seu nome" th:field="*{nome}">
                        <h3>genero</h3>
                        <input type="radio" th:field="*{genero}" value="male"> Masculino
                        <input type="radio" th:field="*{genero}" value="female"> Feminino
                        <input type="radio" th:field="*{genero}" value="other"> Outro 
                    </div>
                    <div class="dir">
                        <h3>Estado</h3>
                        <select th:field = "*{uf}">
                            <option th:each = "u : ${ufs}" th:value = "${u.sigla}" th:text = "${u.descricao}"></option>
                        </select>
                        <h3>ONG?</h3>
                        <select th:field = "*{tipo}">
                            <option value="ong">ONG</option>
                            <option value="common">comum</option> 
                        </select>
                        <h3>Telefone</h3>
                        <input type="text" name="Telefone" placeholder="(99) 99999-9999" th:field="*{numTel}">
                        <h3>Link Facebook</h3>
                        <input type="url" name="Link facebook" placeholder="" th:field="*{linkFacebook}">
                        <h3>Link Instagram</h3>
                        <input type="url" name="Link Instagram" placeholder=""  th:field="*{linkInstagram}">
                        <h3>Data de Nascimento</h3>
                        <input type="date" name="Data de Nascimento" placeholder="" th:field="*{dataNascimento}">
                        <h3>Doação</h3>
                        <input type="url" th:field="*{linkDoacao}">
                        <h3>Descrição</h3>
                        <input type="text" th:field="*{descricao}">
                    </div>
                    <div class='input-wrapper'>
                        <label for='input-file'>
                            Selecionar um arquivo
                        </label>
                        <input id='input-file' type='file' value='' />
                        <span id='file-name'></span>
                    </div>
                    <input type="submit" value="Salvar" class="confirma">
                </form>

            </div>
        </section>
        <div class="push"></div>
    </div>
    <footer class="footer container-table">
        <div class="table-cell">
            <img th:src="@{/img/instagram.svg}" class="logo">
            <img th:src="@{/img/facebook.svg}" class="logo">
            <span>Desenvolvido por: </span>
        </div>
    </footer>
</body>