<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
    <head>
        <meta charset="UTF-8">
        <title>Adota Pet - Cadastro de usuários</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    </head>
    <body>
        <div th:replace="fragmentos//fragmentos :: cabecalho"></div>
        <div class="container">
            <h3>Cadastro de Usuário</h3>
            <form class="form-horizontal" action="/tarefas/inserir" method="POST" th:object="${usuario}">
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label th:errors="*{nome}" class="validation-message"></label>
                        </div>
                        <label>Título:</label>
                        <input type="text" class="form-control" th:field="${tarefa.nome}">
                    </div>
                </div>
               
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            </form>
        </div>
        <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
        <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>