/*MENU
0 - GERAL
1 - Nav bar
2 - Section 1
3 - Section 2
*/

/*0 - Geral*/

:root {
    --rosa-primario: #F9AFBD;
    --rosa-secundario: rgba(255,182,192,0.8);
    --rosa-escuro: #DB8187;

    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
    --cinza-secundario: #CECECE;
}

@font-face {
    font-family: "Titan";
    src: url("../fonts/TitanOne-Regular.ttf");
    
}

@font-face {
    font-family: "Confortaa";
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "ChelseaMarket";
    src: url("../fonts/ChelseaMarket-Regular.ttf");
}

@font-face {
    font-family: "Carter";
    src: url("../fonts/CarterOne.ttf");
}
/*1 - Nav*/

header {
    background-color: var(--rosa-escuro);
    height: 75px;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -90px;
}

.footer,
.push {
  height: 90px;
  width: 100%;
}

body{
    background-color: #f1f1f1;
}

footer{
  background: var(--rosa-escuro);
  clear: both;
}

header .logo{
    margin-left: 5vw;
    margin-top: 10px;
    width: 150px;
    float: left;
}


header nav ul{
    float: right;
    margin-right: 0px;
}

header nav ul li {
    display: inline-block;
    margin: 13px 5px 0px 5px;
    font-size: 1em;
    
}

header nav a {
    color: var(--branco-secundario);
    font-family: "ChelseaMarket";
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

header nav a:hover {
    background-color: var(--branco-secundario);
    transition: 0.3s;
    color: var(--rosa-escuro);
    
}

header nav ul li:nth-child(1)::after,
header nav ul li:nth-child(2)::after{
    display: inline-block;
    content: "";
    height: 30px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    left: 7px;

}
/*2 - Section 1*/

.home {
    background-image: url(../img/animal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: var(--branco-secundario);
    font-family: "Titan";
    text-align: center;
}

.container-table{
    display: table;
}

.home h1 {
    font-size: 4.5em;
    letter-spacing: 4px;
    font-family: "ChelseaMarket"

}

.home h2{
    font-family: "Titan";
    font-size: 3em;
    margin-top: 25px;
}

.home .icons{
    margin: 50px 0px; 
}

.home .icons_content {
    width: 75px;
    height: 75px;
    }

.home .box {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    height: calc(100vh - 75px);
    width: 100vw;
}
.after-header{
    display: contents;
}

#central {
    margin: 0 20%;
}
.home .more {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home .more p {
    font-size: 18px;
    font-family: "Carter";
    color: var(--branco-primario);
    margin-bottom: 5%
        
}

.home .arrow {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-left: solid 8px var(--branco-primario);
    border-bottom: solid 8px var(--branco-primario);
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    border-radius: 10%;
}



.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%
}
.icon-scroll{
  width: 30px;
  height: 53px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.icon-scroll-gone{
    display: none;
}
@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }
}

@media only screen and (max-width: 700px) {
    header .logo{
        float: none;
    }
    header{
        height: 125px;
    }
    header nav{
        text-align: unset;
    }
    header nav ul{
        float: none;
    }
}

@media only screen and (max-width: 400px) {
    header nav ul li{
        font-size: 0.75em;
    }
}


/* outra section*/

.info{
    background: #f1f1f1;
}

.info h2{
    font-family: "Titan";
    text-align: center;
    color: var(--rosa-primario);
    font-size: 26px;
    margin-bottom: 2em;
    padding-top: 40px;
}

.info .quem-somos-p{
    text-align: center;
    max-width: 80vw;
    margin: 15px auto;
}

.animal-imgs{
    text-align: center;
    width: 100%;
}

.animal-imgs img{
    margin: 40px 20px 50px 20px;
    height: 250px;
}

.info-esq-dir{
    display: inline-table;
    margin-bottom: 10px;
}
.info-esq{
    width: 50%;
}

.info-dir{
    width: 50%;
}

.info-dir p{
    width: 80%;
    text-align: unset;  
    font-family: "Confortaa";
    margin-bottom: 10px;
}

.info-dir h3{
    font-family: "Carter";
    text-align: left;
    font-size: 23px;
    margin-bottom: 20px;
    line-height: 25px;
    width: 80%;
}

.info-esq p{
    border: 3px solid var(--rosa-primario);
    width: 30%;
    margin: 0 auto;
    font-family: "confortaa";
    color: var(--rosa-escuro);
    padding: 40px;
}

.menina-foto{
    margin: 0px auto;
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
    width: 70vw;
}

.info{
    height: 1700px;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 100vw;
}